<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjvwATIvZIjV5rQo2dBKmUq4bUH5BMxnw</string>
	<key>GCM_SENDER_ID</key>
	<string>147975183536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inkandorbs.productions</string>
	<key>PROJECT_ID</key>
	<string>ink-and-orb</string>
	<key>STORAGE_BUCKET</key>
	<string>ink-and-orb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147975183536:ios:5b90a74068c666e1d32f75</string>
</dict>
</plist>